* {
  box-sizing: border-box;
}
.inputcss {
  width: 400px;
  border-radius: 10px;
  /* margin-top: 10px; */
  cursor: pointer;
}

.imgcss {
  width: 45px;
  height: 45px;
  padding-left: 5px;
  font-size: 20px;
  cursor: pointer;
}
.inputcss {
  padding-left: 10px;
  cursor: pointer;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
}

.Audiocss {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.bar {
  cursor: pointer;
}

.bodyHeader {
  background-color: #676767;
  border-radius: 5px;
  width: 8%;
  text-align: center;
}

.mainbody {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;

  border: 1px solid white;
  gap: 10px;
  margin: 0px;
}

.mainsubheading {
  font-size: 7px;
  padding: 5px;

  margin: 0px;
}

.subheadingicon {
  font-size: 30px;
  margin-top: 5px;
}
.sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  top: 10; 
   left: 0;
}
.sidebar li {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar li:hover {
  background-color: rgb(118, 80, 80);
}
